<!--1. Нужно отнаследовать html-файл-->
{% extends "base_htmls/base.html" %}

<!--2. А теперь просто выбирайте доступные для редактирования блоки и редактируйте их!-->
{% block main %}
<!--<h2>Я сделал сайт!</h2>-->
<div class="container">
    <div class="card">
        <div class="card-header">
            Великая цитата
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Зачем нам сейчас долго тратить время на CSS, если Владислав Алексанов для нас уже всё подготовил.</p>
                <footer class="blockquote-footer">Ваш преподаватель, <cite title="АНС">АНС</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
{% endblock %}