<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--    Каждый раз мы будем передавать название страницы в context'е-->
    <title>{{ page_name }}</title>
</head>
<body>
<!--Нам нужно определить те места, куда мы будем вставлять кусочки кода-->
<header>
    {% include "base_htmls/menu.html" %}
</header>
<main>
    <!--    таким образом я определяю место, куда можно вставить код-->
    <!--    Имя блока может быть любым-->
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
    <p>Если вы видите эту надпись -- то вы не переопределили блок подвала!</p>
    {% endblock %}
</footer>
</body>
</html>