<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--    Каждый раз мы будем передавать название страницы в context'е-->
    <title>{{ page_name }}</title>
</head>
<body>
<!--Нам нужно определить те места, куда мы будем вставлять кусочки кода-->
<header>
    <!--    Я тут буду помещать меню &#45;&#45; об этом позже-->
</header>
<main>
    <!--    таким образом я определяю место, куда можно вставить код-->
    <!--    Имя блока может быть любым-->
    {% block main %}
    {% endblock %}
</main>
<footer>
    {% block footer %}
    <p>Если вы видите эту надпись -- то вы не переопределили блок подвала!</p>
    {% endblock %}
</footer>
</body>
</html>